* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

/* header */

header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 20px 5%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-transform: capitalize;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

nav ul li a:hover {
    color: #0000ff;
    text-decoration: none;
}

.reserver {
    background-color: #4169E1;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: none;
}

.reserver:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    text-decoration: none;
}

/* main page */

.main_page {
    background-image: url('../image/background_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px; 
    padding: 10px 15%;
    margin: 10px 50px;
    margin-bottom: 15px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    border-radius: 15px;
}

.main_page h2 {
    font-size: 3.9rem;
    line-height: 1.2;
    text-transform: capitalize;
}

.main_page h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.search {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.search img {
    color: #0000ff;
}

input {
    width: 200px;
    height: auto;
    border: none;
}

input::placeholder {
  color:darkgray;
  font-size: 1.2em;
}

.btn-primary {
    background-color: #4169E1;
    font-size: 18px;
    padding: 10 15%;
}

/* section destination */

.destination {
    margin-top: 5%;
    padding: 7px 5%;
}

.destination h2 {
    font-size: 2.3rem;
    text-transform: capitalize;
    text-align: left;
}

.destination h3 {
    font-size: 1.3rem;
    color: #555555;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 5%;
    justify-content: center;
}
/* Conteneur principal de la carte */
.card {
  width: 300px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
  transition: 0.3s; 
  overflow: hidden; 
  margin: 20px;
}

/* Effet au survol */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

.top_rigth {
  position: absolute;
  top: 8px;
  right: 16px;
  color: #3b3b92;
  background-color: #99CCFF;
  padding: 5px 10px;
  border-radius: 15px;
}

/* Style de l'image */
.card img {
  width: auto;
  height: 200px;

}

.card img:hover {
    transform: scale(1.1);
}
/* Corps de la carte */
.container {
  padding: 16px;
}

/* Titre */
.container h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* Texte */
.container p {
  font-size: 0.9em;
  color: #666;
}

/* Lien */

.container a {
    text-decoration: none;
    padding: 10px 25px;
    border: 2px solid #E2F3FF;
}

.container a:hover {
    background-color: #4040C0;
    color: #FEFFFE;
}

.card_link {
  display: block; 
  width: 200px; 
  margin: 0 auto; 
  text-align: center; 
}
