* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

/* header */

header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 20px 5%;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    text-transform: capitalize;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

nav ul li a:hover {
    color: #0000ff;
}